rgb(37, 37, 37);
p {
  color: white;
  font-family: 'Exo 2', sans-serif; /*Gives all my paragraphs the same font*/
}

h1, h2 {
  font: 'Josefin Sans', sans-serif;
  text-transform: capitalize;
}

html, body {
  height: 100%;
  background-color: black;
  margin:0px;
  padding:0px;
  font: 'Josefin Sans', sans-serif;
  box-sizing: border-box;

} /*Some basic styling for my page, including the background, margins and font.*/

/*Starting styling of hero banner */

.emptypheader {
  font-family: 'Josefin Sans', sans-serif;
  background: url(../img/banner7.webp) no-repeat center;
  background-size: cover;
  overflow: hidden;
  font-size: 1px;
  color: rgba(215, 110, 46, 0);
}


.bigheader{
  border: 6px solid white;
  padding: 6px 14px;
  margin-right: -28px;
  margin-bottom: -25px;
  margin-left: -60px;
  display:inline-block;

}

.cen{
  border: none;
  font-size: 25px;
  text-align: center;
  margin-right: ;
  text-transform: capitalize;
  margin-left: -40px;
}


.button{
  color: #313131;
  margin-right: -50px;
  margin-top: 10px;
  margin-left: -75px;
  background: white;
  font-size: 18px;
  text-decoration: none;
  border-radius: 12px; /* Creates rounded corners*/
  transition: .6s;
  text-align: center;
  text-transform: capitalize;
  padding-top: 10px;
  font-family: 'Josefin Sans', sans-serif; /*Styling for the button*/
}

.button:hover {
  background: .6s;
  background: rgba(128, 6, 6, 0.4);
  color:rgb(255, 255, 255);


}
.button2:hover {
  color:rgb(255, 255, 255);
} /*White text for all the buttons when hovering*/

.informationparagraph, .servicesparagraph, .partnersparagraph, .aboutusparagraph, .contactusparagraph{

  padding: 35px;
  background: rgba(128, 6, 6, 0.2);
  border-radius: 12px;
  font-size: 20px;
  text-align: center;
  color: white;

 /*More styling for my info, partner and services paragraphs*//*Styling for the paragraphs on my page, including,
  rounded corners, the background colors for their boxes, padding
  for placement within the box and fort size.*/

}

.informationparagraph{
  padding-top: 35px;
  background: rgba(180, 140, 108, 0.6);

/*Giving each individual paragraph a separate padding so it fits nicer in the box*/
}



.servicesparagraph{
  padding-top: 34px;
  background: rgba(128, 46, 6, 0.6);

}/*Giving each individual paragraph a separate padding so it fits nicer in the box*/

.partnersparagraph{
  background: rgba(80, 194, 160, 0.2);
  padding-top: 20px;
}/*Giving each individual paragraph a separate padding so it fits nicer in the box*/

.aboutusparagraph{
  background: rgba(194, 97, 79, 0.2);
  padding-top: 34px;
}/*Giving each individual paragraph a separate padding so it fits nicer in the box*/

.contactusparagraph{
  background: rgba(200, 200, 200, 0.2);
  padding-top: 34px;
}/*Giving each individual paragraph a separate padding so it fits nicer in the box*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Josefin Sans', sans-serif;
}

/*Some more general styling for my page, including removing all list-Styling
and text-decoration for my unordered lists and links.*/

nav {
  background: black;
  height: 80px;
  width: 100%;

} /*General styling for my "nav", which is my horizontal top menu bar*/

label.logo a {
  color: white;
  font-size: 25px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;

} /*Created a logo of the website name, with some basic styling*/





.button2{
  font-size: 30px;
  text-align: center;
  color: rgba(180, 140, 108, 0.6);
  padding: 10px 24px;
  background: white;
  text-decoration: none;
  border-radius: 12px; /* Creates rounded corners*/
  transition: .6s;
  font-family: 'Josefin Sans', sans-serif; /*Styling for the button "learn more"*/

}

.checkbtn{
  font-size: 30px;
  color: white;
  float:right;
  line-height: 80px;
  margin-right: 40px;
  margin-top: 25px;
  cursor: pointer;
  display: none;
}

/*@media (max-width: 803px){
  nav ul li a {
    font-size: 10px;
  }
}
@media (max-width: 583px){
  nav ul li {
    display:block;
  }
}*/
/*
#check{
  display: none;

}

@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left:50px;

  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: black;
      top: 80px;
      left:0;
      text-align: center;
    }
    nav ul li{
      display: block;
    }
    nav ul li a {
      font-size: 20px;
    }
    a:hover, a.active{
      background: none;
      color: rgb(25, 25, 25);
    }


}

#check:checked ~ ul{
  left:0;
} */
.emptyp{
  color: rgba(255, 255, 255, 0);
  background: url(../img/bbaner.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 530px;
  overflow: hidden;
}

.emptyp2{
  color: rgba(255, 255, 255, 0);
  background: url(anotha.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 530px;
  overflow: hidden;
}


.learnmore2{
  font-size: 21px;
  text-align: center;
  padding: 10px 35px;
  padding-top: 15px;
  color:rgba(44, 48, 57, 0.5);

}


.learnmore3{
  font-size: 23px;
  text-align: center;
  color: rgba(44, 48, 57, 0.5);
  padding: 10px 35px;
  padding-top: 15px;
}

.learnmore5{
  font-size: 25px;
  text-align: center;
  padding: 10px 35px;
  padding-top: 15px;
  color:rgba(44, 48, 57, 0.5);
}

.emptyp3{
  color: rgba(255, 255, 255, 0);
  background: url(../img/yes.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 530px;
  overflow: hidden;
}
.emptyp4{
  color: rgba(255, 255, 255, 0);
  background: url(../img/pretty.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 530px;
  overflow: hidden;
  background-position: center;

}
.learnmore4{
  color:rgba(44, 48, 57, 0.5);
}

.emptyp5 {
  color: rgba(255, 255, 255, 0);
  background: url(../img/banner1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 530px;
  overflow: hidden;
  background-position: center;

}

.learnmore:hover {
  background: .6s;
  background:rgba(180, 140, 108, 0.4);


}

.learnmore2:hover {
  background: .6s;
  background:rgba(128, 46, 6, 0.4);


}

.learnmore3:hover {
  background: .6s;
  background:rgba(79, 194, 160, 0.4);


}


.learnmore4:hover {
  background: .6s;
  background:rgba(194, 97, 79, 0.4);


}

.learnmore5:hover{
  background: .6s;
  background:rgba(200, 200, 200, 0.4);
}



.container3{
  font-size: 30px;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

.headerserv{
  font: 'Josefin Sans', sans-serif;
  text-transform: capitalize;
}

.service1{
  font-size: 30px;
  text-align: center;
}


/*MENU BAR*/
html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

*, *::before, *::after {
    box-sizing: inherit;
}

nav {
    padding: 10px;
}

@media (min-width: 600px){
    nav {
      padding: 20px;
    }

    }


    a {
        position: relative;
        text-decoration: none;
    }

nav ul li a::before {
        content: "";
        position: absolute;
        height: 3px;
        right: 0px;
        bottom: -3px;
        left: 0px;
        background-color:rgb(249, 116, 31);
    }

nav ul li a, .active {
  color: white;
}

  nav ul li a:hover {
    color: rgb(249, 116, 31);

    &::hover {
        background: linear-gradient(to right, rgb(249, 116, 31) 40%, rgb(249, 116, 31)75%);
    }
}

nav.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav.flexbox ul{
        display: flex;
        align-items: center;
    }
nav.flexbox ul li{

        margin-right: 20px;
}
nav.flexbox &:last-child{
        margin-right: 0px;
}
nav.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

@media (min-width: 600px){
  nav.flexbox{
    justify-content: space-between;
  }
}


.fullwidth {
    flex: 1 0 100%;
    justify-content: center;


}

@media (min-width: 600px){

  .fullwidth {
    flex: 0 1 auto;
  }
}

ul li {
  flex: 0 0 100px;
  margin-right: 10px;
  text-align: center;
}

@media (min-width: 600px){
  ul li {
     flex: 0 0 auto;
     margin-right: 20px;
 }
}

@media (min-width: 600px){
    &:last-child {
    margin-right
  }
}

nav.flexbox > a {

        margin-bottom: 10px;
}

@media (min-width: 600px){
      nav.flexbox{  margin-bottom: 0px;
        }
    }

/*End of menu bar*/


.informationhead {
border: none;
}

.scrollbox, .headerscrollbox{
  color: rgba(23, 130, 39, 0);
  font-size: 100px;
}

.scrollbox:hover {
  scroll-behavior: smooth;
}


/*command+shift+c for the color picker*/
/*command+, for the package installer*/
